.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    padding-bottom: 3rem;
}

.post{
    max-width: 720px;
    margin: 3rem auto 0;

    img{
        max-width: 100%;
        max-height: 450px;
        border-radius: 5px;
    }

    h1{
        font-size: 2rem;
        font-weight: 900;
        color: black;
    }

    time{
        color: black;
        margin-top: 1.8rem; 
        font-size: 1rem;
        display: block;   
    }
}

.postContent{
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: black;
    
    iframe{
        width: 100%;
        min-height: 550px;
        padding: 0.5rem 0;
    }

    p, ul{
        margin-top:25px;
        color: black;
    }

    h2{
        margin-top: 20px;
    }
    
    h1{
        margin-top: 50px;
    }

    ul{
        padding-left: 1.5rem;

        li{
            margin: 0.5rem 0;  
        }
    }

    a:hover{
        color: var(--yellow-500);
    }

    pre{
        border-radius: 0.5rem;
        background-color: var(--gray-700);
        padding: 0.5rem;
        color: var(--white);
    }
}


@media (max-width: 950px){
    .container{
        .post{
            img{
                max-height: 250px;  
            }
        }
    }
}

