.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
}

.posts{
    max-width: 720px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    gap: 50px;   

    p{
        display: block; 
        color: black;  
    }

    & + p{
        margin-top: 2rem;
        padding-top: 2rem;
    }

    .timeStyles{
        font-size: 1rem;
        display: flex;
        align-items: center;
        color: var(--gray-200);
        align-items: center;
        gap: 5px;
    }

    img{
        max-width: 100%;
        max-height: 450px;
        border-radius: 6px;
        border-image: linear-gradient(95deg,#31b4d4, transparent ) 1;
    }

    strong{
        display: block;
        font-size: 1.5rem;
        line-height: 2rem;
        color: black;
    }

    p{
        color: black;
        margin-top: 0.5rem;
        line-height: 1.62rem;
        
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .link{
        text-decoration: none;
    }

    strong:hover{
        color: var(--blue-900);
    }
}

.buttonNavigate{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    div{
        display: flex;
    }

    button{
        margin: 0 5px;
        border: 0;
        background: var(--blue-900);
        color: var(--white);
        display: flex;
        padding: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
    }

    svg{
        padding: 0 3px ;
    }

}

@media (max-width: 950px){
    .container{
        .posts{
            a{
                img{
                   max-height: 250px;  
                }
            }
        }
    }
}

