*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #FFFF;

    --gray-100: #AFAFAF;
    --gray-200: #525252;
    --gray-700: #15171b;
    --gray-900: #111113;

    --blue-900: #1fa4e5;
    --yellow-500: #FFBE16;

}

body{
    background-color: var(--gray-900);
}

body, input, textarea, select, button{
    font: 400 1rem 'Poppins', sans-serif;
}

@media (max-width: 1000px){
    html{
        font-size: 93.75%;
    }
}

@media (max-width: 720px){
    html{
        font-size: 87.5%;
    }
}

p{
    color: var(--white);
}

